:host {
    display: block;
}

.items {
    padding: 0 16px;
}

.add-item {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 100;
}

.category-header {
    padding: 16px;
    margin-bottom: 0;
}
