<table *ngIf="(store.state$ | async) as state" [dataSource]="state.lists" class="lists" mat-table>
    <mat-text-column name="name"></mat-text-column>
    <mat-text-column name="description"></mat-text-column>
    <ng-container matColumnDef="weight">
        <th *matHeaderCellDef mat-header-cell>Gesamtgewicht</th>
        <td *matCellDef="let list" mat-cell>{{ weight(list) }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let list" mat-cell>
            <button (click)="editList(list)" mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>
            <button (click)="deleteList($event, list)" mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr *matHeaderRowDef="columns" mat-header-row></tr>
    <tr (click)="toList(list)" *matRowDef="let list; columns: columns" mat-row></tr>
</table>
<button (click)="addList()" aria-label="Add List" class="add-list" color="primary" mat-fab>
    <mat-icon>add</mat-icon>
</button>
